server {
    listen       80;
    listen  [::]:80;
    server_name  localhost default;

	# export ANTHROPIC_BASE_URL=http://server/claude/
	location /claude/ {
		## ======== BEGIN CORS SUPPORT ========
		#if ($request_method = OPTIONS) {
		#	add_header Access-Control-Allow-Origin $http_origin always;
		#	add_header Vary "Origin" always;
		#	add_header Access-Control-Allow-Methods "GET, POST, OPTIONS" always;
		#	add_header Access-Control-Allow-Headers "Content-Type, Authorization" always;
		#	add_header Access-Control-Max-Age 3600 always;
		#	add_header Content-Type "text/plain; charset=utf-8";
		#	add_header Content-Length 0;
		#	return 204;
		#}

		#proxy_set_header 'Origin' '';
		#proxy_set_header 'Access-Control-Request-Method' '';
		#proxy_set_header 'Access-Control-Request-Headers' '';

		#add_header Access-Control-Allow-Origin $http_origin always;
		#add_header Vary "Origin" always;
		## ======== END CORS SUPPORT ========

		# put your API key here
		proxy_set_header x-api-key "sk-ant-api00-00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000";
		proxy_ssl_server_name on;

		proxy_http_version 1.1;
		proxy_buffering off;
		proxy_cache off;

		proxy_pass https://api.anthropic.com/;
	}
}

# vim: ft=nginx
